@model TypeDeCarte

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TypeDeCarte</h4>
    <hr />
    @if (Model == null)
    {
        <p class="text-danger">TypeDeCarte non trouvé</p>
    }
    else
    {
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nom)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nom)
            </dd>
        </dl>
        <div>
            <a class="btn btn-primary" asp-action="Index">Retour à la liste des animaux</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@Model.TypeDeCarteId">Supprimer l'animal</a>
        </div>
    }
</div>
